<section class="  d-flex flex-column">
<div class=" container mt-5">
  <h1 class="colors mt-5  text-center">CONATCT SECTION</h1>
  <div class=" d-flex justify-content-center align-items-center ">
    <div class="item  foot-bg"></div>
    <i  class="fa-solid fa-star colors"></i>
    <div class="item  foot-bg"></div>
  </div>
</div>
<div class=" mt-5 w-50 mx-auto">
  <div class="form-floating mb-3">
    <input type="UserName" class="form-control" id="floatingInput" placeholder="UserName">
    <label for="floatingInput" class=" colo2 ">UserName: </label>
  </div>
  <div class="form-floating mb-3">
    <input type="number " class="form-control" id="floatingInput" placeholder="userAge: ">
    <label for="floatingInput" class=" colo2 ">userAge: </label>
  </div>
  <div class="form-floating mb-3">
    <input type="email " class="form-control" id="floatingInput" placeholder="userEmail :">
    <label for="floatingInput" class=" colo2 ">userEmail: </label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingInput" placeholder="userPassword :">
    <label for="floatingInput" class=" colo2 ">userPassword : </label>
  </div>

  <button type="submit " class=" btn colorr mb-5 mt-3">send Massage</button>
</div>

</section>
